<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ player.name }} Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>ACL Player Auction</h1>
        <div class="btn-container">
        <a href="/" class="btn-home">Players</a><br>
        <a href="/teams" class="btn-home">Teams</a><br>
        <a href="/unsold_players" class="btn-home">Unsold Players</a><br>
        <a href="/sold_players" class="btn-home">Sold Players</a><br>
    </div>
    <div class="player-card" id="{{ player.name | replace(' ', '-') | lower }}">
        <div class="image-container">
        <img src="../static/{{ player.image_path }}" alt="{{ player.name }}" onclick="window.location.href='/player/{{ player.id }}'"  style="width: 150px; cursor: pointer; max-width: 200px; height: 150px;">
    </div>
    <div class="player-info">
        <div><strong>Id:</strong> {{ player.id }}</div>
        <div><strong>Name:</strong> {{ player.name }}</div>
        <div><strong>Age:</strong> {{ player.age }}</div>
        <div><strong>Role:</strong> {{ player.role }}</div>
    </div>
    <div class="player-info">
        <div><strong>Base Price:</strong> Rs. {{ format_indian(player.base_price) }}</div>
        <div><strong>Status:</strong> {{ player.status }}</div>
        <div><strong>Sold Price:</strong> Rs. {{ format_indian(player.sold_price) }}</div>
        <div><strong>Team:</strong> {{ teams[player.team | int]['name'] }}</div>
    </div>
    {% if player.status == 'Sold' %}
    <div class="image-container">
        <img src="../static/{{ teams[player.team | int]['image_path'] }}" onclick="window.location.href='/team/{{ teams[player.team | int]['id'] }}'" style="width: 150px; cursor: pointer; max-width: 200px; height: 150px;">
    </div>
    {% endif %}
    </div>
    {% if ip_address == '127.0.0.1' %}
    <form action="/update_status/{{ player.id }}" method="post">
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="Sold" {% if player.status == 'sold' %}selected{% endif %}>Sold</option>
            <option value="Unsold" {% if player.status == 'unsold' %}selected{% endif %}>Unsold</option>
            <!-- Add more status options as needed -->
        </select>
        <input type="submit" value="Update Status">
    </form>
    <form action="/update_team/{{ player.id }}" method="post">
        <label for="team">Team:</label>
        <select name="team" id="team">
            {% for team in teams %}
            <option value="{{ team.id }}" {% if player.team == '0' %}selected{% endif %}>{{ team.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Update Team">
    </form>
    <form action="/update_sold_price/{{ player.id }}" method="post">
        <label for="sold_price">Sold Price:</label>
        <input type="text" name="sold_price" id="sold_price" value="{% if player.sold_price %}{{ player.sold_price }}{% endif %}">
        <input type="submit" value="Update sold price">
    </form>
    {% endif %}
</div>
</body>
</html>